.page-titles {
    &__title {
        text-align: center;
    }
    &__under-title {
        text-align: center;
    }
}

.blog {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        width: 100%;
        &__item {
            width: ca;
            &__img-wrapper {
                &__img {
                    width: auto;
                    height: 100%;
                    min-width: 1px;
                }
            }
            &__text {

            }
        }
    }
}