html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
}

// MIXIN and Parametrs

$FontSize: 64px;
$FontColor: #1b1a1a;
$LetterSpacing: 1px;
$LineHeight: 70px;
$FontWeight: 400;

  @mixin BGimage {
    width: 100%;
    height: 600px;
    background-position: center;
  }

@mixin Font($FontSize, $LetterSpacing, $LineHeight, $FontWeight, $FontColor) {
  font-family: "Poppins", sans-serif;
  font-size: $FontSize;
  color: $FontColor;
  letter-spacing: $LetterSpacing;
  line-height: $LineHeight;
  font-weight: $FontWeight;
}

body {
  background-color: whitesmoke;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

// NAV

.header__container {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
  height: 90px;
  @include Font(15px, 1px, 20px, 400, $FontColor: #1b1a1a);
}

.media__btn {
  display: none;
}

.header__logo {
  max-width: 100%;
  max-height: 20px;
  display: block;
}

.nav__list__container {
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: end;
}

.nav__list__item {
  display: flex;
  list-style-type: none;
  justify-content: end;
  font-family: inherit;
  text-align: center;
  align-items: center;
}

.nav__list__link {
  text-decoration: none;
  color: inherit;
}

.nav__block__btn {
  border-radius: 14px;
  background-color: black;
  height: 46px;
  width: 155px;
  @include Font(12px, 1px, 20px, 400, white);
  padding-left: 20px;
}

// HOME__ARHITECTURE

.home__architecture {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #d6c3b3;
}

.home__achitecture__img {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.home__achitecture__partners {
  @include Font(14px, 2px, 20px, 400, #645c55);
  margin-bottom: 20px;
}

.home__architecture__title {
  @include Font(64px, 1px, 70px, 400, #1b1a1a);
}

.home__architecture__text {
  @include Font(16px, 1px, 24px, 400, #403e3b);
}

.home__architecture__link {
  @include Font(16px, 0.4px, 24px, 400, #080808);
  text-decoration: none;
}

// FIRM
.firm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.firm__container {
  width: 50%;
}

.firm__container__title {
  @include Font(32px, 1px, 38px, 600, #403e3b);
}

.firm__container__text {
  width: 500px;
  height: 140px;
  margin-bottom: 20px;
}

.firm__container__text__p {
  @include Font(16px, 0.2px, 24px, 400, #403e3b);
}

.firm__container__human {
  display: flex;
  justify-content: left;
  align-items: start;
  margin-inline: 10%;
  margin-top: 0;
}

.firm__container__human__text {
  @include Font(17px, 1px, 26px, 400, #1b1a1a);
  margin: 0;
  margin-top: 2%;
}

.firm__container__human__avatar {
  margin-bottom: 40px;
}

// WHITE__HOUSE
.white__building {
  background-image: url(../images/White-building.jpg);
  @include BGimage();
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}

.white__building>div {
  margin: 0;
}

.white__building__title {
  @include Font(14px, 2px, 20px, 500, #403e3b);
  text-transform: uppercase;
}

.white__building__text {
  @include Font(16px, 1px, 24px, 500, #645c55);
}

// PROCESS

.process {
  align-items: center;
  margin-top: 80px;
}

.process__images__container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.process__upper__title {
  @include Font(14px, 2px, 20px, 400, #645c55);
  text-align: center;
  text-transform: uppercase;
}

.process__title {
  @include Font(39px, 2px, 42px, 400, #1b1a1a);
  margin: 0;
  text-align: center;
}

.process__images__container__section {
  text-align: center;
  margin-inline: 20px;
}

.process__images__container__section__text {
  @include Font(16px, 1px, 24px, 400, #645c55);
}

// STAIRS

.stairs {
  background-image: url(..//images/Stairs.png);
  @include BGimage();
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  margin-top: 100px;
}

.stairs__container {
  margin: 0;
}

.stairs__container__title {
  @include Font(14px, 2px, 20px, 500, #403e3b);
  text-transform: uppercase;
}

.stairs__container__text {
  @include Font(16px, 1px, 24px, 500, #645c55);
}

// CUSTOMERS

.customers {
  background: #403e3b;
}

.customers__container {
  display: flex;
  justify-content: space-around;
  height: 410px;
  align-items: center;
}

.customers__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 40px;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}

.customers__container__text__uppertitle {
  @include Font(14px, 2px, 20px, 400, #ece7e4);
}

.customers__container__text__title {
  @include Font(32px, 1px, 38px, 400, #ece7e4);
}

.customers__container__text__text {
  @include Font(15px, 1px, 24px, 400, #ece7e4);
}

// STAIRS__WOOD

.stairs__wood {
  background-image: url(../images/Wood-stairs.png);
  @include BGimage();
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
}

.stairs__wood__container {
  margin: 0;
  width: 400px;
}

.stairs__wood__container__title {
  @include Font(14px, 2px, 20px, 500, #403e3b);
  text-transform: uppercase;
}

.stairs__wood__container__text {
  @include Font(16px, 1px, 24px, 500, #645c55);
}

// PROJECTS

.projects {
  background: #f7f7f7;
  margin-bottom: 100px;
}

.projects__container__imgcontainer__object3 {
  background: url(../images/Projects-white.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
}

.projects__container__title {
  @include Font(40px, 1px, 42px, 400, #1b1a1a);
  margin-top: 100px;
  margin-left: 52.5px;
  margin-bottom: 20px;
}

.projects__container__text {
  @include Font(24px, 1px, 30px, 400, #645c55);
  margin-left: 52.5px;
  margin-bottom: 50px;
}

.projects__container__imgcontainer__object2 {
  background: url(../images/Projects-pivo.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.projects__container__imgcontainer__object2>div {
  margin: 20px;
}

.projects__container__imgcontainer__object1 {
  background: url(../images/Projects-white2.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
}

.projects__container__imgcontainer__object__uppertitle {
  @include Font(14px, 2px, 20px, 400, #645c55);
  margin: 0;
  text-transform: uppercase;
}

.projects__container__imgcontainer__object__title {
  @include Font(26px, 1px, 38px, 200, #403e3b);
  margin: 0;
}

.projects__container__imgcontainer__object__btn {
  @include Font(16px, 0.4px, 24px, 200, #ffffff);
  background: #1b1a1a;
  border-radius: 14px;
  color: #ffffff;
  width: 130px;
  height: 45px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects__container__imgcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.projects__link {
  @include Font(16px, 0.4px, 24px, 400,#1b1a1a);
  text-decoration: none;
  align-items: center;
}

.projects__bottom {
  text-align: center;
  margin-top: 20px;
}

// PARTNERS

.partners__container__text__title {
  @include Font(32px, 1px, 38px, 400,#403e3b);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403e3b;
}

.partners__div {
  display: flex;
  flex-direction: row;
}

.partners__container__images__items1 {
  display: flex;
  flex-direction: column;
}

.partners__container__text {
  width: 380px;
}

.partners__div p {
  margin-top: 0;
  @include Font(17px, 1px, 26px, 400,#1b1a1a);
}

.partners__div span {
  margin-top: 0;
  @include Font(14px, 1px, 14px, 400, #645c55);
}

.partners__container__text__link {
  text-decoration: none;
  color: #080808;
}

.probel {
  height: 100px;
}

// REVIEWS

.reviews {
  height: 315px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: #cec4bc;
}

.reviews__title {
  @include Font(40px, 1px, 42px, 500, #1b1a1a);
}

.reviews__uppertitle {
  @include Font(14px, 2px, 20px, 400, #645c55); 
}

.reviews__link {
  text-decoration: none;
  color: #080808;
}

// FOOTER

.footer__div {
  height: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer__div__img {
  margin-bottom: 30px;
}

.footer__div__p {
  @include Font(14px, 1px, 20px, 400, #645c55);
}

.footer__div__container2 {
  width: 100px;
  display: flex;
  justify-content: space-around;
}