html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
}

body {
  background-color: whitesmoke;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
  height: 90px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400;
}

.media__btn {
  display: none;
}

.header__logo {
  max-width: 100%;
  max-height: 20px;
  display: block;
}

.nav__list__container {
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: end;
}

.nav__list__item {
  display: flex;
  list-style-type: none;
  justify-content: end;
  font-family: inherit;
  text-align: center;
  align-items: center;
}

.nav__list__link {
  text-decoration: none;
  color: inherit;
}

.nav__block__btn {
  border-radius: 14px;
  background-color: black;
  height: 46px;
  width: 155px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 20px;
}

.home__architecture {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: #d6c3b3;
}

.home__achitecture__img {
  max-width: 100%;
  height: 100%;
  margin: 0;
}

.home__achitecture__partners {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.home__architecture__title {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 70px;
  font-weight: 400;
}

.home__architecture__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #403e3b;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 400;
}

.home__architecture__link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #080808;
  letter-spacing: 0.4px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}

.firm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.firm__container {
  width: 50%;
}

.firm__container__title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #403e3b;
  letter-spacing: 1px;
  line-height: 38px;
  font-weight: 600;
}

.firm__container__text {
  width: 500px;
  height: 140px;
  margin-bottom: 20px;
}

.firm__container__text__p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #403e3b;
  letter-spacing: 0.2px;
  line-height: 24px;
  font-weight: 400;
}

.firm__container__human {
  display: flex;
  justify-content: left;
  align-items: start;
  margin-inline: 10%;
  margin-top: 0;
}

.firm__container__human__text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 2%;
}

.firm__container__human__avatar {
  margin-bottom: 40px;
}

.white__building {
  background-image: url(../images/White-building.jpg);
  width: 100%;
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}

.white__building > div {
  margin: 0;
}

.white__building__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #403e3b;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.white__building__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
}

.process {
  align-items: center;
  margin-top: 80px;
}

.process__images__container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.process__upper__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.process__title {
  font-family: "Poppins", sans-serif;
  font-size: 39px;
  color: #1b1a1a;
  letter-spacing: 2px;
  line-height: 42px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.process__images__container__section {
  text-align: center;
  margin-inline: 20px;
}

.process__images__container__section__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 400;
}

.stairs {
  background-image: url(..//images/Stairs.png);
  width: 100%;
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  margin-top: 100px;
}

.stairs__container {
  margin: 0;
}

.stairs__container__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #403e3b;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.stairs__container__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
}

.customers {
  background: #403e3b;
}

.customers__container {
  display: flex;
  justify-content: space-around;
  height: 410px;
  align-items: center;
}

.customers__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 40px;
  align-items: center;
  text-align: center;
  row-gap: 20px;
}

.customers__container__text__uppertitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #ece7e4;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
}

.customers__container__text__title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #ece7e4;
  letter-spacing: 1px;
  line-height: 38px;
  font-weight: 400;
}

.customers__container__text__text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ece7e4;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 400;
}

.stairs__wood {
  background-image: url(../images/Wood-stairs.png);
  width: 100%;
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
}

.stairs__wood__container {
  margin: 0;
  width: 400px;
}

.stairs__wood__container__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #403e3b;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.stairs__wood__container__text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 500;
}

.projects {
  background: #f7f7f7;
  margin-bottom: 100px;
}

.projects__container__imgcontainer__object3 {
  background: url(../images/Projects-white.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
}

.projects__container__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 42px;
  font-weight: 400;
  margin-top: 100px;
  margin-left: 52.5px;
  margin-bottom: 20px;
}

.projects__container__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 52.5px;
  margin-bottom: 50px;
}

.projects__container__imgcontainer__object2 {
  background: url(../images/Projects-pivo.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.projects__container__imgcontainer__object2 > div {
  margin: 20px;
}

.projects__container__imgcontainer__object1 {
  background: url(../images/Projects-white2.png);
  background-position: center;
  min-width: 375px;
  height: 450px;
}

.projects__container__imgcontainer__object__uppertitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.projects__container__imgcontainer__object__title {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: #403e3b;
  letter-spacing: 1px;
  line-height: 38px;
  font-weight: 200;
  margin: 0;
}

.projects__container__imgcontainer__object__btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.4px;
  line-height: 24px;
  font-weight: 200;
  background: #1b1a1a;
  border-radius: 14px;
  color: #ffffff;
  width: 130px;
  height: 45px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects__container__imgcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.projects__link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #1b1a1a;
  letter-spacing: 0.4px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
}

.projects__bottom {
  text-align: center;
  margin-top: 20px;
}

.partners__container__text__title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #403e3b;
  letter-spacing: 1px;
  line-height: 38px;
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403e3b;
}

.partners__div {
  display: flex;
  flex-direction: row;
}

.partners__container__images__items1 {
  display: flex;
  flex-direction: column;
}

.partners__container__text {
  width: 380px;
}

.partners__div p {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 26px;
  font-weight: 400;
}

.partners__div span {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 14px;
  font-weight: 400;
}

.partners__container__text__link {
  text-decoration: none;
  color: #080808;
}

.probel {
  height: 100px;
}

.reviews {
  height: 315px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: #cec4bc;
}

.reviews__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #1b1a1a;
  letter-spacing: 1px;
  line-height: 42px;
  font-weight: 500;
}

.reviews__uppertitle {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
}

.reviews__link {
  text-decoration: none;
  color: #080808;
}

.footer__div {
  height: 205px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer__div__img {
  margin-bottom: 30px;
}

.footer__div__p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #645c55;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400;
}

.footer__div__container2 {
  width: 100px;
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=styles.css.map */